::ng-deep .p-popover {
  width: 50%;
}

.popover-body {
  max-height: 300px;
  overflow-y: auto;
  display: grid;
  justify-items: center;
}

.popover-body .p-button {
  width: 75%;
}

@media (min-width: 768px) {
  /* non mobile part */
  .popover-body {
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
