<div>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <span>All required fields are markup by *</span>
    <p-iftalabel>
      <input
        pInputText
        id="username"
        formControlName="username"
        autocomplete="off"
      />
      <label for="username">Username *</label>
    </p-iftalabel>

    <app-ifta-datepicker
      [control]="startDateTimeControl"
      labelText="Start date and time *"
      [showTime]="true"
    ></app-ifta-datepicker>

    <button type="submit">Submit</button>
  </form>
</div>
