<div>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <span>All required fields are markup by *</span>
    <app-ifta-inputtext
      [control]="usernameControl"
      labelText="Name: *"
    ></app-ifta-inputtext>
    <app-ifta-inputnumber
      [control]="durationControl"
      labelText="Duration: *"
      [min]="30"
      [step]="30"
      [showButtons]="true"
      suffix=" min."
    ></app-ifta-inputnumber>

    <app-ifta-datepicker
      [control]="startDateControl"
      labelText="Start date *"
      format="dd.mm.yy"
    ></app-ifta-datepicker>

    <app-popover [options]="possibleTimes" label="Choose time"></app-popover>
    <button type="submit">Submit</button>
  </form>
</div>
