.buttons-box-layout {
  height: 100%;
  .p-card {
    height: 100%;

    .buttons-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      .empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .empty-icon {
          font-size: 4rem;
        }
      }
    }
  }
}

::ng-deep {
  .buttons-box-layout {
    .p-card-body {
      height: 100%;
      .p-card-content {
        height: 100%;
      }
    }
  }
}
